<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChromaSelect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ChromaSelect.Properties.Settings>
            <setting name="BGPrimary" serializeAs="String">
                <value>16, 16, 20</value>
            </setting>
            <setting name="BGSecondary" serializeAs="String">
                <value>20, 20, 26</value>
            </setting>
            <setting name="BGTertiary" serializeAs="String">
                <value>25, 25, 31</value>
            </setting>
            <setting name="BGButton" serializeAs="String">
                <value>16, 16, 20</value>
            </setting>
            <setting name="DetailColor" serializeAs="String">
                <value>60, 60, 66</value>
            </setting>
            <setting name="DetailActive" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PlaceholderColor" serializeAs="String">
                <value>193, 200, 207</value>
            </setting>
            <setting name="NotifColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TxtNotif" serializeAs="String">
                <value>NotifText</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>v1.0.3</value>
            </setting>
            <setting name="BorderRadius" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RoundedControls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotKeyForm" serializeAs="String">
                <value>True</value>
            </setting>
        </ChromaSelect.Properties.Settings>
    </userSettings>
</configuration>